@model TechOnIt.Application.Common.Models.ViewModels.Structures.StructurePlacesWithDevicesViewModel
@{
    ViewData["Title"] = @Model.Name + " places";
}

<div class="row">
    @* Places *@
    @if (Model.Places is not null && Model.Places.Count > 0)
    {
        <div class="d-flex justify-content-between">
            <div class="central">
                <label class="fw-bold h2">@Model.Name Place's</label>
            </div>
            <div class="central">
                <button id="new-place" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newPlaceModal">+ New Place</button>
            </div>
        </div>
        foreach (var place in Model.Places)
        {
            <div class="col-12 col-sm-3 col-md-4">
                <div class="d-flex justify-content-between">
                    <div class="central">
                        <label class="h4 mb-0">@place.Name</label>
                    </div>
                    <div class="central">
                        <button class="btn btn-primary btn-sm" type="button">+ New Device</button>
                    </div>
                </div>
                <hr>
                @* Devices *@
                @if (place.Devices.Count > 0)
                {
                    <div class="d-flex">
                        @foreach (var device in place.Devices)
                        {
                            <button class="btn btn-lg @(device.IsHigh ? "btn-primary":"btn-outline-primary")" onclick="toggleDeviceStatus(this,'@device.Id', '@(device.IsHigh ? "off":"on")', '@Model.Id')" type="button">
                                <i class="far @(device.IsHigh ? "fa-lightbulb-on":"fa-lightbulb")"></i>
                            </button>
                        }
                    </div>
                }
                else
                {
                    @* Device Not Found *@
                    <div class="text-center">
                        <p class="text-muted small mt-4">No devices found.</p>
                    </div>
                }
            </div>
        }
    }
    else
    {
        @* Places not found *@
        <div class="col-12 col-md-6 offset-md-3">
            <img class="w-100 opacity-75" src="~/assets/images/stocks/Shed-pana.svg" />
        </div>
        <div class="col-12">
            <div class="text-center">
                <label class="h3 fw-bold">No places were found!</label>
            </div>
            <div class="d-grid d-sm-block text-center mt-3">
                <button id="new-place" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#newPlaceModal">+ New</button>
            </div>
        </div>
    }
</div>

<!-- New Place Modal -->
<div class="modal fade" id="newPlaceModal" tabindex="-1" aria-labelledby="newPlaceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newPlaceModalLabel">New place</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/dashboard/place/new">
                @* Structure Id *@
                <input type="hidden" name="StructureId" value="@Model.Id" />
                <div class="modal-body">
                    <div class="form_group field mb-3">
                        <input id="new-place-name" class="form_field" name="Name" type="text" placeholder="Name" maxlength="20" required />
                        <label for="new-place-name" class="form_label">Name</label>
                    </div>
                    <div class="form_group field mb-3">
                        <textarea id="new-place-description" class="form_field" name="Description" placeholder="Description" maxlength="100"></textarea>
                        <label for="new-place-description" class="form_label">Description</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const toggleDeviceStatus = function (e,deviceId, status, structureId) {
            $(e).prop("disabled", true);
            var requestOptions = {
                method: 'GET',
                redirect: 'follow'
            };
            var url = '/dashboard/device/' + status + '?id=' + deviceId + '&structureId=' + structureId;
            fetch(url, requestOptions)
                .then(response => response.text())
                .then(function () {
                    location.reload();
                })
                .catch(error => function(){
                    console.log('error', error);
                    $(e).prop("disabled", false);
                });
        }
    </script>
}