@model TechOnIt.Application.Common.Models.ViewModels.Users.UserViewModel
@{
    ViewData["Title"] = "Edit User Account";
}

<h2 class="text-primary text-uppercase">Edit @Model.Username Account</h2>

<div class="mt-4">
    <div class="container-fluid">
        <div class="row">
            @*- Information -*@
            <div class="col-md-6 col-lg-4 mb-3">
                @*- User Avatar -*@
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="rounded-2" style="width:115px; height:115px;background-image:url('/assets/images/profile_avatar_placeholder.png');background-size:cover;" data-bs-toggle="tooltip" data-bs-title="Comming Soon...">
                            <div class="h-100 w-100 d-flex flex-column justify-content-end">
                                <div class="text-center d-grid" style="background-color:#1e1e1e66">
                                    <span class="text-white pointer-event py-1">
                                        <i class="fa fa-camera"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*- Update User Information -*@
                <form class="row" action="/manage/user/update" method="post">
                    <div class="col-12">
                        <h3 class="text-uppercase">Account Information</h3>
                        @*- Hidden inputs -*@
                        <div>
                            @*- User Id -*@
                            <input name="UserId" type="hidden" value="@Model.Id" />
                            @*- Concorrency stamp -*@
                            <input name="ConcurrencyStamp" type="hidden" value="@Model.ConcurrencyStamp" />
                        </div>
                    </div>
                    @*- Name And Surname -*@
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="mb-1">First Name</label>
                            <input class="form-control form-control-sm" name="Name" type="text" maxlength="30" value="@Model.FullName.Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="mb-1">Surname</label>
                            <input class="form-control form-control-sm" name="Surname" type="text" maxlength="30" value="@Model.FullName.Surname" />
                        </div>
                    </div>
                    @*- Username -*@
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="mb-1">Username</label>
                            <input class="form-control form-control-sm" name="Username" type="text" maxlength="200" value="@Model.Username" disabled="disabled" />
                        </div>
                    </div>
                    @*- Email -*@
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="mb-1">Email</label>
                            <input class="form-control form-control-sm" name="Email" type="email" maxlength="200" value="@Model.Email" />
                        </div>
                    </div>
                    @*- Phone Number -*@
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="mb-1">Phone Number</label>
                            <input class="form-control form-control-sm" name="PhoneNumber" type="text" maxlength="11" value="@Model.PhoneNumber" disabled="disabled" />
                        </div>
                    </div>
                    @*- Save Button -*@
                    <div class="col-12">
                        <div class="d-grid">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            @*- Password -*@
            <div class="col-md-6 col-lg-4 mb-3">
                <form action="/manage/user/resetPassword" method="post">
                    <h3 class="text-uppercase">Reset Password</h3>
                    <div>
                        <div>
                            <input type="hidden" name="userId" value="@Model.Id" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="mb-1">New Password</label>
                        <div class="password-control">
                            <input class="form-control form-control-sm" name="password" type="password" maxlength="30" />
                            <button type="button" tabindex="-1"><i class="fa fa-eye-slash"></i></button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="mb-1">Repeat New Password</label>
                        <div class="password-control">
                            <input class="form-control form-control-sm" name="repeatPassword" type="password" maxlength="30" />
                            <button type="button" tabindex="-1"><i class="fa fa-eye-slash"></i></button>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="d-grid">
                            <button class="btn btn-sm btn-primary">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>