@model PaginatedList<TechOnIt.Application.Common.Models.ViewModels.Users.UserViewModel>
@{
    ViewData["Title"] = "Index";
}

<label class="h1 mb-3"><i class="fa fa-users"></i> Users list</label>

<div class="mt-3">
    @*- Add new user -*@
    <div class="mb-3">
        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">+ Add new</button>
    </div>
    @*- Search box -*@
    <div class="mb-3">
        <div class="row">
            <div class="col-md-6">
                <form method="get" action="/manage/user/index">
                    <div class="input-group">
                        <div class="form-outline">
                            <input class="form-control" placeholder="Search..." type="search" name="keyword" value="@ViewData["search"]" />
                        </div>
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*- Users list -*@
    <div>
        <table class="table table-responsive table-borderless table-hover-mark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th class="d-none d-md-block">Username</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.items.Count > 0)
                {
                    int count = 1 * Model.pageIndex;
                    foreach (var user in Model.items)
                    {
                        <tr>
                            <th>@count.ToString("00")</th>
                            <td>
                                @if (user.FullName is not null)
                                {
                                    <a href="#">
                                        @user.FullName.Name @user.FullName.Surname
                                    </a>
                                }
                            </td>
                            <td class="d-none d-md-block">
                                <a href="#">@user.Username</a>
                            </td>
                            <td>
                                <a href="#">@user.PhoneNumber</a>
                            </td>
                            <td class="ellipsis-text">@user.Email</td>
                            <td class="tools">
                                @*- Delete button -*@
                                @*<button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>*@
                                @*- Edit button -*@
                                @*<button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>*@
                            </td>
                        </tr>
                        count++;
                    }
                }
                else
                {
                    <tr class="no-content">
                        <td class="text-center" colspan="5">
                            <label class="mt-5 mb-5">No users found!</label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Add User Modal -->
<div class="modal fade backdrop-filter-blur" id="addUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Create new user accont</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createNewUserForm" method="post" action="/manage/user/create">
                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="mb-1" for="user-first-name">Name</label>
                                <input id="user-first-name" class="form-control" name="Name" placeholder="John" />
                            </div>
                            <div class="col-md-6">
                                <label class="mb-1" for="user-surname">Surname</label>
                                <input id="user-surname" class="form-control" name="Surname" placeholder="Marston" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 mb-1">
                                <label class="mb-1" for="user-email">Email</label>
                                <input id="user-email" class="form-control" name="Email" type="email" placeholder="sample@example.com" maxlength="150" />
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input id="isEmailConfirmed" class="form-check-input" name="isEmailConfirmed" type="checkbox" value="" checked>
                                    <label class="form-check-label" for="isEmailConfirmed">
                                        Is email confirmed?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 mb-1">
                                <label class="mb-1" for="userPhoneNumber">Phone Number</label>
                                <input id="userPhoneNumber" class="form-control" name="PhoneNumber" placeholder="09123456789" maxlength="11" />
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="isEmailConfirmed" name="isPhoneNumberConfirmed" checked>
                                    <label class="form-check-label" for="isPhoneNumberConfirmed">
                                        Is phone number confirmed?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="mb-1" for="user-password">Password</label>
                                <input id="user-password" class="form-control" name="Password" type="password" placeholder="a-z, 0-9, *&^%..." maxlength="50" />
                            </div>
                            <div class="col-md-6">
                                <label class="mb-1" for="user-password-repeat">Repeat Password</label>
                                <input id="user-password-repeat" class="form-control" name="PasswordRepeat" type="password" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="$('#createNewUserForm').submit()">Create</button>
            </div>
        </div>
    </div>
</div>